
species_module = "cyclopts.structured_species.request"
species_class = "StructuredRequest"

n_rxtr = range(1, 5)

f_rxtr = 0
f_loc = 0
f_fc = 0
r_t_f = 0.75
r_th_pu = 0.25
f_mox = 0.33 # third of a core
r_s_th = 0.08 # 2 plants per 25 reactors
r_s_mox_uox = 1. # 1 thermal mox per uox 
r_s_mox = 0.2 # 1 plant per 5 reactors
r_s_thox = 0.2 # 1 plant per 5 reactors
r_inv_proc = 1.0
n_reg = 10
r_l_c = 1.0